%h2= @project.name
%h4 Todo list
%p 
  %b
    project
  =link_to @project.github, @project.github, target: "_blank"
%br
%br

%section.todo
  %ul.todo-controls
    %li
      %a.icon-add "Add"
    %li
      %a.icon-delete "Delete"
    %li.right
      %a.icon-settings Settings

  %ul.todo-list
    -@project.ordered_todo_lists.each do |todo|
      %li{class: (todo.finished? ? "done" : "not-done")}
        %a.toggle
        %article
          =todo.todo
        %section
          Published in
          =distance_of_time_in_words(Time.now, todo.created_at)
        %input{type: "hidden", value: todo.project_id, name: "product_id"}
        %input{type: "hidden", value: todo.id, name: "todo_id"}
        .clearfix
    %li.form
      =form_for([@project, @project.todo_lists.build]) do |f|
        =f.text_field :todo


  %ul.todo-pagination
    %li.previous
      %span
        %i.icon-previous 
        Anterior
      
    %li.next
      %a
        Next
        %i.icon-next

%br
%br
%br